.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 20px;
    .fas {
        &:not(:hover) {
            animation: colourswitch 15s  7s infinite;
        }
    }
    &__text {
        display: none;
    }
    &__item {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding-left: 30px;
        padding-right: 5px;
        transition: 1s;
        & a {
            text-decoration: none;
            color: $clr-strong;
            &:hover .fas {
                color: pink;
            }
            &:hover .navbar__text {
                    display: inline-block;
                    animation: navappear 500ms;
            }
        }
    }
}